.question {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding: 10px;
    align-items: center;
}

.instructions {
    font-weight: 400;
    text-align: center;
}

.question-text {
    text-align: center;
}

.score-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.score-buttons > * {
    margin: 10px;
}

.score-button {
    background-color: #D7EC7C;
    width: 4em;
    height: 3em;
    border-radius: 1.5em;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5em;
    border: none;
}

.score-buttons > div > button:active {
    background-color: #C7DC6C;
}

.score-button-selected {
    background-color: #B7CC5C;
    width: 4em;
    height: 3em;
    border-radius: 1.5em;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5em;
    border: none;
}