.GridLogin {
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
    padding: 10px;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: 30%; */
    /* margin-right: 30%; */

}