.InputBox {

    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgba(25, 29, 8, 0.8);;
    font-size: 30px;
    border-radius: 40px;
    background-color: #E1E5C3 ;
    border-color: #E1E5C3;

    position: absolute;
    height: 85.48px;
    left: 434px;
    margin-top: 3%;
    /* top: 403px; */

}

.InputBox::placeholder {

    color: rgba(25, 29, 8, 0.8);
    opacity: 80%;

}